.container{
  background-color: aqua;
}
#pitching{
  background-color: aqua;
}
body{
  background-color: aqua;
}
button#like{
  background-color: green;
  color: white;
}
button#dislike{
  background-color: brown;
  color: white;
}
